<section class="section">
  <div class="container">

    <div class="columns is-mobile">

      <div class="column is-narrow">
        <div class="menu">
          <ul class="menu-list">
            <li *ngFor="let keyword of keywords">
              <a (click)="showBuzzwords(keyword)" class="{{ keyword === selectedKeyword ? 'is-active' : '' }}">{{ keyword }}</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="column">
        <div class="columns is-multiline">
          <div class="column is-narrow" *ngFor="let buzzword of buzzwords">
            {{ buzzword }}
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
