<section class="section">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column is-narrow">
        <div class="menu">
          <ul class="menu-list">
            <li *ngFor="let keyword of keywords">
              <a (click)="showBuzzwords(keyword)" class="{{ keyword === selectedKeyword ? 'is-active' : '' }}">{{ keyword }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <img *ngIf="isLoading" src="/assets/img/loading.gif" alt="loading" />
        <div *ngIf="!isLoading" class="columns is-multiline">
          <div class="column is-narrow" *ngFor="let buzzword of buzzwords">
            {{ buzzword["buzzword"] }} ({{buzzword["count"]}})
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
